<div class="bg-gradient-to-br from-white via-blue-200 to-blue-50 pt-6">
  <div class=" text-center text-3xl font-semibold text-black font-[Playfair Display] tracking-wide leading-snug">
    {{ selectedEventName }}
  </div>
  
  
  <app-category-filter [subcategories]="(subcategories$ | async) ?? []" (categoryChange)="onCategoryChange($event)"
    (subcategoryChange)="onSubcategoryChange($event)">
  </app-category-filter>
  
  
  <app-product-list [products]="(products$ | async) ?? []" [cartProductIds]="cartProductIds"
    (productAddedToCart)="onProductAddedToCart($event)" (productRemovedFromCart)="onProductRemovedFromCart($event)">
  </app-product-list>
</div>